keycloak/oc-custom.jar
anubis-management-api/sql_app.db
anubis-management-api/anubis_policy_api.egg-info/*
anubis-management-api/build/*
anubis-management-api/dist/*
anubis-management-api/.idea/*
.python-version
*.pyc
.idea/*
*.json
*.bin
policy-governance-middleware/node_modules/
policy-governance-middleware/data.json
