[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
databases = "*"
sqlalchemy = "*"
pydantic = "*"
aiosqlite = "*"
uuid = "*"
rfc3987 = "*"
rdflib = "*"
opa-python-client = "*"
psycopg2-binary = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
